#table ,.th,.td{
      border:1px solid white;
      width:400px;
}

.pending{
    text-align:center;
    color:white;
    background-size: cover;
    background-position: center;
    height:100%;
    width:100%;
    border:1px solid white;
   
}
.approved{
    text-align:center;
    color:black;
    padding:0px 150px;
    height:300px;
    width:100%;
}
#button{
    float:left;
    border:1px solid black;
    border-radius:12px;
    background-color:blue;
    color:white;
    text-align:center;
}