#table ,.th,.td{
      border:1px solid whitesmoke;
      width:400px;
}

.pending{
    text-align:center;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHUH-GLyRpOGNZ-mae4hEJB4xWyZV_ZV_Afg&s');
    color:white;
    background-size: cover;
    background-position: center;
    height:500px;
    width:100%;
    border:1px solid whitesmoke;
   
}
.approved{
    text-align:center;
    color:black;
    padding:0px 150px;
    height:300px;
    width:100%;
}